body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.bg{
  background: rgba(0, 0, 0, 0.884);
}
/* products ----------- */
#all-products {
  padding: 50px;
  /* background-color: darkslategrey; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 25px;
  align-items: center;
  justify-content: center;
}
.single-product {
  border-radius: 10px;
  margin: 15px;
  transition: 0.6s;
 height: 440px;
  background-color: #dbf5ff;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
  background-color: rgb(101, 139, 85);
  color: white;
}
.product-image {
  width: 150px;
  height: 150px;
}
/* -----------cart ---------- */
.cart {
  background-color: rgb(152 153 255 / 86%);
  color: white;
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

/* -----------icon ---------- */
.fas{
  color: gold;
}

/* -----------media quary ---------- */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
